.footerContainer {

 
    width: 85vw;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
    height: 15vh;
    position: fixed;
    top: 85vh;
    left: 0%;
  

    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(225, 225, 225);
    /* border: 1px solid black; */
}

.menuItem {

text-align: center;
align-items: center;
display: flex;
justify-content: center;
}
.leftContainer {

    width: 10%;
    height: 50%;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}


/* For Mobile */
@media screen and (max-width: 540px) {

    .footerContainer {

        height : 8vh;
        top: 81vh;
        /* margin-bottom: ; */
     }

}
