.kitchen {



    /* border: 1px solid black; */
    width: 97.5%;
    height: 95%;
    padding: 3%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.kitchen::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}